
/node_modules

/public/hot
/public/storage
/public/vendor
/storage/*.key

/vendor

/.idea
/.vscode

.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/public/css/*.css
/public/js/*.js
/public/mix-manifest.json

/storage/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/app/public/*

/public/vendor/adminlte/*
/resources/sass
/public/vendor/bootstrap/*
/public/vendor/jquery/*
/public/vendor/fontawesome-free/*
/public/vendor/overlayScrollbars/*
/public/vendor/popper/*
/public/vendor/npm-asset/*
/public/vendor/tinymce/*

/public/js/*
/public/css/*
